---
import '../styles/global.css'
import Header from '../components/Header.svelte'
---

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="../../favicon.svg"/>
    <title>Smart Wallet Stellar Demo</title>
</head>
<body>
<Header client:only/>
<slot/>
</body>
</html>
